@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

    --background-img-src: url("../images/the-great-wave.png");

    /* Colors */
    --sixty-color: #088b8b;
    --thirty-color: #ddd;
    --ten-color: #fff;

    /* This is to change the size of the progress indicator */
    --circle-container-size: 400px; 
    /* The differences in these two numbers create 
    line thinness or thickness */
    --outermost-circle-size: 385px;


}
.background {
    padding: 5px;
    /* FIGURE THIS OUT, NEED TO ADD BACKGROUND PHOTOS  */
    background-image: var(--background-img-src);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

html {
    font-family: 'Roboto Mono', monospace;
    color: navy;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 100%;
    height: 100vh;
    background-color: transparent;
}

/* Progress Indicator Code */

.circle-container {
    width: var(--circle-container-size);
    height: var(--circle-container-size);
    border-radius: 50%;
    background-color: #ddd;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    opacity: .5;
}

.semicircle {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: right center;
}

.semicircle:nth-child(1){
    background-color: red; /* use for testing*/
    background-color: #088b8b;
    z-index: 2;
}

.semicircle:nth-child(2){
    background-color: blue; /* use for testing*/
    background-color: #088b8b;
    z-index: 3;
}

.semicircle:nth-child(3){
    background-color: #ddd;
    z-index: 4;
}

/*
.five-second-circle {
    I added this in due to a bug that was coming up once the circle past the 180deg point
    where it would show the red bar progressing past the 0deg mark, the idea was to have a flashing
    red circle appear when there was X seconds left. possibly revisit as a feature
    width: var(--circle-container-size);
    height: var(--circle-container-size);
    border-radius: 50%;
    background-color: red;
    position: absolute;
    z-index: 5;
    display: none;
}
*/
.outermost-circle {
    width: var(--outermost-circle-size);
    height: var(--outermost-circle-size);
    border-radius: 50%;
    background-color: #fff;
    z-index: 5;
    
}

/* hover testing */

/* 
IF THERE IS AN ERROR WHERE THE TIMER KEEPS SPINNING IT IS PROBABLY BECAUSE OF SOMETHING
BELOW THIS COMMENT, KEEP BELOW COMMENTED OUT UNLESS TESTING
*/

/* .main-container:hover .semicircle:nth-child(1){
    transform: rotate(180deg);
    transition: 1s linear;
}

.main-container:hover .semicircle:nth-child(2){
    transform: rotate(360deg);
    transition: 1s linear;
}

.main-container:hover .semicircle:nth-child(3){
    opacity: 0;
    transition: opacity 1s linear;
} */


/* Timer Code */

.timer-container {
    width: 330px;
    height: 200px;
    z-index: 6;
}

.timer {
    width: 400px;
    height: 100px;
    z-index: 7;
}

.timer div {
    font-size: 70px;
    font-weight: 100;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 10px;
}

.timer .colon {
    background-color: transparent;
    width: 10px;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 15px;
}